html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    /* background-color: LightGray; */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-navigation > .content {
	width: 970px;
    height: 70px;
    margin: 0 auto;
}

.top-navigation .logo {
    height: 4.375rem;
    margin-left: 0;
}

.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}


.top-navigation .links > li {
	display: inline-block;
	margin-left: 1.563em;

}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links > li:hover {
	cursor: pointer;
	color: #333333;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.introduction {
	background-image: url('../images/first-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 45.938rem;
    overflow: auto;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.introduction h1, .introduction h3 {
	text-align: center;
	color: #fff;
	font-weight: 300;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .devices {
    width: 33.3%;
    display: inline-block;
    /* styles to assist with debugging */
}


.flexdiv {
	display: flex;
}

.caption > h3{
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}


.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

ol, ul {
    list-style: none;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}
@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}
@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}